@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
	.btn-autowidth {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}


    img.app-logo {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
	.btn-autowidth {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	img.app-logo {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.btn-autowidth {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	img.app-logo {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1500px) {

}

@media screen and (min-width: 1501px) and (max-width: 3000px) {

}

.card-footer {
    border-top: 0 !important;
}

.img-profile {
	border-color: black;
	border-radius: 5000px;
	height: 130px;
	width: 130px;
}

.img-profile-nav {
	border-color: black;
	border-radius: 5000px;
	height: 30px;
	width: 30px;
}

img.app-logo {
    width: 120px;
    height: 120px;
}