{% extends 'globalLayout.html' %}

{% block navbar %}
    {%  if current_user.is_authenticated %}
        <div class="container">
            <div class="media">
                <div class="media-body">
                    <a class="nav-link active text-white" href="{{ url_for('openProfile', userInfo=current_user.username) }}">Profile</a>
                </div>
                <a class="align-self-center mr-3" href="{{ url_for('openProfile', userInfo=current_user.username) }}">
                    <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/user-regular.svg') }}" width="20" height="20">
                </a>
            </div>
            <div class="media">
                <div class="media-body">
                    <a class="nav-link active text-white" href="#">Find a Pub</a>
                </div>
                <a class="align-self-center mr-3" href="#">
                    <img class="align-self-center mr-3" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/map-marked-alt-solid.svg') }}" width="24" height="24">
                </a>
            </div>
            <div class="media">
                <div class="media-body">
                    <a class="nav-link active text-white" href="#">Chats</a>
                </div>
                <a class="align-self-center mr-3" href="#">
                    <img class="align-self-center mr-3" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/comments-regular.svg') }}" width="24" height="24">
                </a>
            </div>
            <div class="media">
                <div class="media-body">
                    <a class="nav-link active text-white" href="#">Booking manager</a>
                </div>
                <a class="align-self-center mr-3" href="#">
                    <img class="align-self-center mr-3" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/clipboard-check-solid.svg') }}" width="24" height="24">
                </a>
            </div>
            <div class="media">
                <div class="media-body">
                    <a class="nav-link active text-white" href="{{ url_for('logout') }}">Log Out</a>
                </div>
                <a class="align-self-center mr-3" href="{{ url_for('logout') }}">
                    <img class="align-self-center mr-3" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/sign-out-alt-solid.svg') }}" width="25" height="25">
                </a>
            </div>
        </div>
    {% endif %}
{% endblock navbar %}
{% block pagecontent %}
    {% if request.method=='GET' %}
        {%  if not current_user.is_authenticated %}
            <div class="jumbotron">
                <h1 class="display-4 text-center text-md-left">Hei, welcome on TeamGate!</h1>
                <p class="lead">Very brief but exciting description of the platform</p>
                <hr class="my-4">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item py-1 py-md-0">
                        <a class="btn btn-outline-info btn-autowidth" href="{{ url_for('registration') }}" role="button">
                            <span>
                                Join the TeamGate
                            </span>
                            <img class="" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/trophy.svg') }}" width="28" height="28">
                        </a>
                    </li>
                    <li class="nav-item py-1 py-md-0">
                        <a class="btn btn-outline-info btn-autowidth" href="{{ url_for('registration') }}" role="button">
                            <span>
                                Register your local activity
                            </span>
                            <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/geo.svg') }}" width="28" height="28">
                        </a>
                    </li>
                    <li class="nav-item py-1 py-md-0">
                        <a class="btn btn-outline-info btn-autowidth" href="{{ url_for('login') }}" role="button">
                            <span>
                                Log in
                            </span>
                            <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/chevron-right.svg') }}" width="25" height="25">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container shadow-lg p-3 mb-5 bg-white rounded">
                <form method="POST" action="#" >
                    {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                    <fieldset>
                        <div class="form-row d-flex justify-content-between align-items-center pt-2">
                            <div class="col-1 d-flex align-items-end justify-content-end">
                                <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/street-view-solid.svg') }}" width="42" height="42">
                            </div>
                            <div class="col-2 lead d-flex justify-content-center">
                                {{ form.city.label(class="col-form-label") }}
                            </div>
                            <div class="col-7">
                                {{ form.city(class="form-control form-control-lg border border-secondary") }}
                            </div>
                            <div class="col-2">
                                {{ form.submit(class="btn btn-lg btn-outline-info") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endif %}

        <div class="container">
            <div class="card-deck">
                <div class="card shadow p-3" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='match-icon/match-banner.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">MILAN vs. INTER</h5>
                      <p class="card-text">Saturday h 20:30</p>
                      <a href="#" class="btn btn-info">Look for a Pub</a>
                    </div>
                </div>
                <div class="card shadow p-3" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='match-icon/match-banner.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GENOA vs. JUVENTUS</h5>
                        <p class="card-text">Saturday h 20:30</p>
                        <a href="#" class="btn btn-info">Look for a Pub</a>
                    </div>
                </div>
               <div class="card shadow p-3" style="width: 18rem;">
                  <img src="{{ url_for('static', filename='match-icon/match-banner.jpg') }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">MANCHESTER vs. LIVERPOOL</h5>
                      <p class="card-text">Saturday h 20:30</p>
                      <a href="#" class="btn btn-info">Look for a Pub</a>
                  </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container shadow-lg p-3 mb-5 bg-white rounded">
            <p class="display-4">In {{ city }} already more than {NUM.OF PUBS} local activities work with us!</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a class="btn btn-outline-info btn-lg btn-block btn-autowidth" href="{{ url_for('registration') }}" role="button">
                    <span>
                        Join the TeamGate
                    </span>
                    <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/trophy.svg') }}" width="28" height="28">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-outline-info btn-lg btn-autowidth btn-block" href="{{ url_for('registration') }}" role="button">
                    <span>
                        Register your local activity
                    </span>
                    <img src="{{ url_for('static', filename='bootstrap-4.4.1-dist/icons/geo.svg') }}" width="28" height="28">
                </a>
            </div>
        </div>
    {% endif %}
{% endblock pagecontent %}