{% extends 'globalLayout.html' %}

    {%  block navbar %}
        <div class="container">
            {%  if current_user.is_authenticated %}
                <a class="nav-link active" href="{{ url_for('openProfile', userInfo=current_user.username) }}">Profile</a>
                <a class="nav-link active" href="{{ url_for('logout') }}">Log Out</a>
            {%  else %}
                <a class="nav-link active" href="{{ url_for('registration') }}">Join the TeamGate
                    <img src="{{ url_for('static', filename='icons/trophy.svg') }}" width="28" height="28"></a>
                <a class="nav-link active" href="{{ url_for('registration') }}">Register your local activity
                    <img src="{{ url_for('static', filename='icons/geo.svg') }}" width="28" height="28"></a>
                <a class="nav-link active" href="{{ url_for('login') }}">Log in
                    <img src="{{ url_for('static', filename='icons/chevron-right.svg') }}" width="25" height="25"></a>
            {% endif %}
        </div>
    {%  endblock navbar %}
    {% block pagecontent %}

        <body>
            <p>
                Find out what we have for you on the Teamgate!
            </p>

            </p>
        </body>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">MILAN vs. INTER</h5>
                    <p class="card-text">Saturday h 20:30</p>
                    <a href="#" class="btn btn-info">Look for a Pub</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">GENOA vs. JUVENTUS</h5>
                    <p class="card-text">Saturday h 20:30</p>
                    <a href="#" class="btn btn-info">Look for a Pub</a>
                  </div>
                </div>
               <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">MANCHESTER vs. LIVERPOOL</h5>
                    <p class="card-text">Saturday h 20:30</p>
                    <a href="#" class="btn btn-info">Look for a Pub</a>
                  </div>
                </div>
            </div>

    {% endblock pagecontent %}
