{% extends 'globalLayout.html' %}

    {% block pagecontent %}
        <div class="row">
            <div class="col-6">
                <h2 class="shadow p-3 mb-5 bg-white rounded">{{ current_user.username }} Profile</h2>
                <img class="border border-dark" src="{{ imgFile }}" alt="{{ imgFile }}">
                <p><small>{{ current_user.email }}</small></p>
            </div>
            <div class="col-6">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <form method="POST" action="#" enctype="multipart/form-data">
                        {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                        <fieldset>
                            <legend> DASHBOARD -- Change your profile info here ! </legend>
                            <div>
                                {{ form.firstName.label }}
                                {{ form.firstName }}
                            </div>
                            <div>
                                {{ form.lastName.label }}
                                {{ form.lastName }}
                            </div>
                            <div>
                                {{ form.username.label }}
                                {{ form.username }}

                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                        <div>
                                            <span style="color: red"><small>{{ error }}</small></span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                            <div>
                                {{ form.emailAddr.label }}
                                {{ form.emailAddr }}

                                {% if form.emailAddr.errors %}
                                    {% for error in form.emailAddr.errors %}
                                        <div>
                                            <span style="color: red"><small>{{ error }}</small></span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                            <div>
                                {{ form.img.label }}
                                {{ form.img }}

                                {% if form.img.errors %}
                                    {% for error in form.img.errors %}
                                        <div>
                                            <span style="color: red"><small>{{ error }}</small></span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </fieldset>
                        <div>
                            <br>{{ form.submit }}
                        </div>
                    </form>
                </div>
            </div>
        </div>


    {% endblock pagecontent %}