{% extends 'globalLayout.html' %}

    {% block pagecontent %}
        <div>
            <!-- POST method even if exposes user data into POST request url, is safe because we implemented CSRF token -->
            <form method="POST" action="#">
                {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                <fieldset>

                    <legend>Reset password</legend>
                    <div>
                        {{ form.emailAddr.label }}
                        {{ form.emailAddr }}

                        {% for error in form.emailAddr.errors %}
                            <small><span style="color: red">{{ error }}</span></small>
                        {% endfor %}

                        {{ form.submit }}
                    </div>

                </fieldset>
            </form>
        </div>

    {%  endblock pagecontent %}