{% extends 'globalLayout.html' %}

    {% block pagecontent %}
        <div>
            <!-- POST method even if exposes user data into POST request url, is safe because we implemented CSRF token -->
            <form method="POST" action="#">
                {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                <fieldset>

                    <legend>Login</legend>
                    <div>
                        {{ form.emailAddr.label }}
                        {{ form.emailAddr }}

                        {% for error in form.emailAddr.errors %}
                            <small><span style="color: red">{{ error }}</span></small>
                        {% endfor %}

                    </div>
                    <div>
                        {{ form.psw.label }}
                        {{ form.psw }}
                    </div>
                    <div>
                        {{ form.rememberMe.label }}
                        {{ form.rememberMe }}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit }}
                    <small><a href="{{ url_for('send_resetRequest') }}">I forgot my password</a></small>
                </div>

            </form>
        </div>
        <div>
            <small>Don't you have an account yet? Create it <a href="{{ url_for('registration') }}">here!</a></small>
        </div>
    {%  endblock pagecontent %}