{% extends 'base_template.html' %}

{% block navbar %}
    {% if pull_from == 'user' %}
        {% include 'user_nav.html' %}
    {% else %}
        {% include 'owner_nav.html' %}
    {% endif %}
{% endblock navbar %}

{% block pagecontent %}
    <div class="h3 mb-0 text-center my-5 my-lg-3">Register you pub!</div>
    <div class="container d-flex align-items-center" style="height: 350px">
        <form method="POST" action="#">
            <div class="row shadow py-4">
                <div class="col-12 col-lg-3">
                     <div>{{ form.name.label }}</div>
                     <div>{{ form.name }}</div>
                </div>
                <div class="col-12 col-lg-3">
                     <div>{{ form.address.label }}</div>
                     <div>{{ form.address }}</div>
                </div>
                <div class="col-12 col-lg-3">
                     <div>{{ form.phone_num.label }}</div>
                     <div>{{ form.phone_num }}</div>
                </div>
                <div class="col-12 col-lg-3">
                     <div>{{ form.seats_max.label }}</div>
                     <div>{{ form.seats_max }}</div>
                </div>
                <div class="col-12 mt-4">
                    <div>{{ form.description.label }}</div>
                    <div>{{ form.description }}</div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                    <div>{{ form.submit }}</div>
                </div>
            </div>
        </form>
    </div>
{% endblock pagecontent %}