{% extends 'base_template.html' %}
{% import 'macros.html' as macros %}

{% block navbar %}
    {% if pull_from == 'user' %}
        {% include 'user_nav.html' %}
    {% else %}
        {% include 'owner_nav.html' %}
    {% endif %}
{% endblock navbar %}

{% block pagecontent %}
    <div class="container">
        <div class="row pt-1">
            <div class="col-12 col-md-6 offset-md-3 px-1">
                <form method="POST" action="#" class="w-100">
                    {{ form.hidden_tag() }}
                    <div class="d-flex align-items-center form-group">
                        <div class="w-100 mr-2">{{ form.searchedItem }}</div>
                        <div>{{ form.submit }}</div>
                    </div>
                </form>
                {% if request.method == 'POST' and u == None %}
                    <div class="ml-2 pb-2">
                        <span class ="text-muted text-monospace">Nothing found</span>
                        <i class ="far fa-frown" ></i>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 p-1">
                <div class="card mb-4 shadow shadow rounded" style="height: 600px">
                  <div class="card-header">
                      {% if pull_from == 'user' %}
                          <h4 class="my-0 font-weight-normal">News Feed</h4>
                      {% else %}
                          <h4 class="my-0 font-weight-normal">Active groups</h4>
                      {% endif %}
                  </div>
                  <div class="card-body">
                      {% if pull_from == 'user' %}
                          <ul class="list-group mx-4 mt-3 mb-4 text-left" style="list-style-type: square">
                            <li>News 1</li>
                            <li>News n</li>
                          </ul>
                      {% else %}
                          list of groups here with info useful for pub to invite them
                      {% endif %}
                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        {% if pull_from == 'user' %}
                            <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('errors.error_wip', caller_route='news feed') }}'">
                                browse more
                            </button>
                        {% elif current_user.pub %}
                            <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('errors.error_wip', caller_route='news feed') }}'">
                                propose your pub
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-1">
                <div class="card mb-4 shadow-sm rounded" style="height: 600px">
                  <div class="card-header">
                      {% if pull_from == 'user' %}
                      <h4 class="my-0 font-weight-normal">Active Groups</h4>
                      {% else %}
                          <h4 class="my-0 font-weight-normal">Pub Dashboard</h4>
                      {% endif %}
                  </div>
                  <div class="card-body d-flex justify-content-center">
                    {% if pull_from == 'user' %}
                        groups a lot of groups
                    {% else %}
                        pub main infos
                    {% endif %}
                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        {% if pull_from == 'user' %}
                            {% if True %}
                                <button type="button" class="btn btn-lg btn-outline-primary shadow" onclick="window.location.href='{{ url_for('users.create_group', username=current_user.username) }}'">
                                    manage your groups
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-lg btn-outline-primary shadow" onclick="window.location.href='{{ url_for('users.create_group', username=current_user.username) }}'">
                                    create your own
                                </button>
                            {% endif %}
                        {% elif current_user.pub %}
                            <button type="button" class="btn btn-lg btn-outline-primary shadow" onclick="window.location.href='{{ url_for('users.profile', username=current_user.username) }}'">
                                manage pub info
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-lg btn-outline-primary shadow" onclick="window.location.href='{{ url_for('users.create_pub', username=current_user.username) }}'">
                                register your pub here
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 p-1">
                <div class="card mb-4 shadow rounded" style="height: 600px">
                    <div class="card-header">
                        {% if pull_from == 'user' %}
                            <h4 class="my-0 font-weight-normal">Hot Pubs</h4>
                        {% else %}
                            <h4 class="my-0 font-weight-normal">Pending reservations</h4>
                        {% endif %}
                    </div>
                    <div class="card-body px-2 pt-2">
                        {% if pull_from == 'user' %}
                            <div class="col-12 d-flex align-items-center">
                                {{ macros.pagination_widget(pub_paginate, 'users.home', username=current_user.username) }}
                            </div>
                            {% for p in pubs %}
                                <a href="{{ url_for('users.visit_pub', p_id=p.id) }}">
                                    <div class="border shadow-sm my-3 pb-1">
                                        <div class="row px-3">
                                            {% if pull_from == 'user' %}
                                                {% for i in range(3) %}
                                                    <div class="col-4 px-0 img-profile-search" style="background-image: url('{{ p.owner.get_imgCarousel(foreign_session=True)[i] }}')"></div>
                                                {% endfor %}
                                            {% else %}
                                                {% for i in range(3) %}
                                                    <div class="img-profile-search" style="background-image: url('{{ p.owner.get_imgCarousel()[i] }}')"></div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="media d-flex align-items-center px-2">
                                            <div class="col-1 d-flex justify-content-center">
                                                {% if pull_from == 'user' %}
                                                    <a href="{{ url_for('users.visit_pub', p_id=p.id) }}">
                                                      <div class="img-profile-nav" style="background-image: url('{{ p.owner.get_imgFile(foreign_session=True) }}')"></div>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ url_for('users.visit_pub', p_id=p.id) }}">
                                                      <div class="img-profile-nav" style="background-image: url('{{ p.owner.get_imgFile() }}')"></div>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="col-11">
                                                <div>{{ p.name }}</div>
                                                <div class="row">
                                                    <div class="col-6 pr-0">
                                                        <div>
                                                            <span>
                                                            {% for s in range(0, p.compute_rating(return_rating=True) ) %}
                                                                <i class="fas fa-star fa-sm" style="color: goldenrod"></i>
                                                            {% endfor %}
                                                            {% for s in range(0, 5 - p.compute_rating(return_rating=True) ) %}
                                                                <i class="far fa-star fa-xs" style="color: lightslategrey"></i>
                                                            {% endfor %}
                                                          </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        {% if p.bookable %}
                                                            <div class="text-monospace font-weight-light">
                                                                {% if p.is_available_for(1) %}
                                                                    <span class="badge badge-success">Available</span>
                                                                {% else %}
                                                                    <span class="badge badge-danger">full</span>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                  </a>
                            {% endfor %}
                        {% else %}
                            {% if reservations %}
                                <div class="col-12 d-flex align-items-center">
                                    {{ macros.pagination_widget(res_paginate, 'users.home', username=current_user.username) }}
                                </div>
                            {% endif %}
                            {% for res in reservations %}
                                <a class='disabled' href="#">
                                  <div class="border shadow-sm my-2 pb-1">
                                      <div class="media d-flex align-items-center">
                                        <div class="col-9 px-1">
                                            <div class="col-12">
                                              reservation id: {{ res.id }}
                                            </div>
                                            <div class="col-12">
                                                date: {{ res.date }}
                                            </div>
                                            <div class="col-12">
                                                guests: {{ res.guests }}
                                            </div>
                                        </div>
                                          <div class="col-3 px-0 d-flex justify-content-start">
                                              <div class="img-profile-search mr-2" style="background-image: url('{{ url_for('static', filename='app-icons/QR-mockup-teampicks.svg') }}')"></div>
                                          </div>
                                    </div>
                                  </div>
                              </a>
                            {% endfor %}
                        {% endif %}
                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        {% if pull_from == 'user' %}
                            <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('users.search_pub') }}'">
                                Find others
                            </button>
                        {% elif current_user.pub %}
                            <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('users.open_reservations_dashboard', username=current_user.username) }}'">
                                manage
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}