{% extends 'base_template.html' %}

{% block pagecontent %}
    <div class="container">
        {% if form %}
            <div class="row mt-3">
                <div class="col-12 col-md-6 offset-md-3 px-1">
                    <form method="POST" action="#" class="w-100">
                        {{ form.hidden_tag() }}
                        <div class="d-flex align-items-center form-group">
                            <div class="w-100 mr-2">{{ form.searchedItem }}</div>
                            <div>{{ form.submit }}</div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-3 p-1">
                <div class="card mb-4 shadow shadow rounded" style="height: 600px">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">News Feed</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-group mx-4 mt-3 mb-4 text-left" style="list-style-type: square">
                      <li>News 1</li>
                      <li>News n</li>
                    </ul>
                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('main.show_wip', callerPage='news feed') }}'">
                            More news
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-1">
                <div class="card mb-4 shadow-sm rounded" style="height: 600px">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Active Groups</h4>
                  </div>
                  <div class="card-body d-flex justify-content-center">

                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('users.create_group', username=current_user.username) }}'">
                            Create your group
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 p-1">
                <div class="card mb-4 shadow rounded" style="height: 600px">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Hot Pubs</h4>
                  </div>
                  <div class="card-body">
                  </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-lg btn-outline-primary" onclick="window.location.href='{{ url_for('users.search_pub') }}'">
                            Find pub
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}