<!DOCTYPE html>
<html lang="en">
<!-- THIS FILE LIST ALL RAW HTML OUTPUT OF EACH <tag> -->
<head>
    <meta charset="UTF-8">
    <title>HTML DICTIONARY</title>
</head>

<body>
    <header>
        <p>press { ctrl+U } to open source file</p>
        <p>[ <small>NOTE: the styling of this page has all been done throught <strong>"inline instructions"</strong></small> ]</p>
        <hr>
    </header>
    <nav>
        <h5 style="margin: 0">Useful links:</h5>
        <ul>
            <li type="none"><a href="https://www.tutorialrepublic.com/html-reference/html5-tags.php" target="_blank">HTML5 tag library</a></li>
        </ul>
        <hr>
    </nav>

    <div>
        <p>This page is used to summarize all HTML tags output. Use it as an available reference when writing HTML docs.</p>
    </div>

    <br>

    <div>
        <table align="center" width=85% border="solid">
            <caption>STRUCTURAL TAGS</caption>
            <th>TAG</th>
            <th>Description</th>
            <th>Output</th>
            <tr>
                <td align="center">p</td>
                <td>add a paragraph to document</td>
                <td>
                    <p>PAR1: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>PAR2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eius?</p>
                </td>
            </tr>

            <tr>
                <td align="center">div</td>
                <td>Create a new division or section in the document</td>
                <td>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, tempora?(div here)</p>
                    </div>
                    <div>
                        <ul>
                            <li>item 1</li>
                            <li>item 2</li>
                            <li>item n-th</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">a</td>
                <td>
                    <p>add an hyperlink to the text
                        <br>
                        (a stands for anchor)
                        <br>
                        some other parameters need to be specified in order to change click behavior (es. target)
                    </p>
                </td>
                <td>
                    <a href="https://www.google.com/" target="_blank">load google homepage</a>
                </td>
            </tr>

            <tr>
                <td align="center">hr</td>
                <td>print an horizontal line onto the page</td>
                <td><hr></td>
            </tr>

            <tr>
                <td align="center">br</td>
                <td>add a line break into document structure or text (acts like \n)</td>
                <td>Lorem ipsum dolor.(br here)<br>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td align="center">h1</td>
                <td>Print document title</td>
                <td><h1>hello World</h1></td>
            </tr>

            <tr>
                <td align="center">h2</td>
                <td>Print document title</td>
                <td><h2>hello World</h2></td>
            </tr>

            <tr>
                <td align="center">h3</td>
                <td>Print document title</td>
                <td><h3>hello World</h3></td>
            </tr>

            <tr>
                <td align="center">h4</td>
                <td>Print document title</td>
                <td><h4>hello World</h4></td>
            </tr>

            <tr>
                <td align="center">h5</td>
                <td>Print document title</td>
                <td><h5>hello World</h5></td>
            </tr>

            <tr>
                <td align="center">h6</td>
                <td>Print document title</td>
                <td><h6>hello World</h6></td>
            </tr>

            <tr>
                <td align="center">details</td>
                <td>Open a cascade text window when clicked</td>
                <td>
                    <details>
                        <summary>How to learn to code?</summary>
                        <p>You will really learn only by doing it!<br><a href="https://www.youtube.com/results?search_query=web+development" target="_blank">Start here!</a></p>
                    </details>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table align="center" width=85% border="solid">
            <caption>TEXT FORMATTING TAGS</caption>
            <th>TAG</th>
            <th>Description</th>
            <th>Output</th>

            <tr>
                <td>abbr</td>
                <td>shows in a separate box the extended version of an abbreviation acronim</td>
                <td><abbr title="Hyper Text Markup Language">HTML</abbr> is an abbreviation whose stands for ...</td>
            </tr>
        </table>
    </div>
</body>