{% extends 'globalLayout.html' %}

{% block pagecontent %}
    <div class="d-flex justify-content-center">
        <div class="d-inline-block">
            <div class="shadow p-3 mb-3 mt-3 bg-white rounded" style="width: 500px">
            <!-- POST method even if exposes user data into POST request url, is safe because we implemented CSRF token -->
                <form method="POST" action="#">
                    {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                    <fieldset>

                        <legend>Login </legend>
                        <div class="form-row">
                            <div class="col-12 py-2">
                                {{ form.credential(class="form-control form-control-sm") }}

                                {% for error in form.credential.errors %}
                                    <small><span style="color: red">{{ error }}</span></small>
                                {% endfor %}

                            </div>
                            <div class="col-12 py-2">
                                {{ form.psw(class="form-control form-control-sm") }}
                            </div>
                            <div class="col-12 d-flex justify-content-sm-between align-items-center">
                                <div class="pt-1">
                                    {{ form.submit(class="btn btn-primary btn-sm") }}
                                </div>
                                <div>
                                    <small>{{ form.rememberMe.label(class="col-form-label") }}</small>
                                    {{ form.rememberMe }}
                                </div>
                                <div>
                                    <small class="pl-2"><a href="{{ url_for('users.send_resetRequest') }}">I forgot my password</a></small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="pl-1">
                <small>Don't you have an account yet? <a href="{{ url_for('users.registration', userType='user', accType='free' ) }}">Create it here!</a></small>
            </div>
            <div class="pl-1">
                <small>Do you own a local activity or pub? <a href="{{ url_for('main.showPricing') }}">Register it here!</a></small>
            </div>
        </div>
    </div>

{%  endblock pagecontent %}