{% extends 'base_template.html' %}

{% block pagecontent %}
    <div class="d-flex justify-content-center container">
        <div class="d-inline-block">
            <div class="shadow p-3 mb-3 mt-3 bg-white rounded" style="max-width: 500px">
            <!-- POST method even if exposes user data into POST request url, is safe because we implemented CSRF token -->
                <form method="POST" action="#">
                    {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                    <fieldset>
                        <legend>Login </legend>
                        <div class="form-row">
                            <div class="col-12 py-2">
                                {{ form.credential(class="form-control form-control-sm") }}

                                {% for error in form.credential.errors %}
                                    <span class="small" style="color: red">{{ error }}</span>
                                {% endfor %}

                            </div>
                            <div class="col-12 py-2">
                                {{ form.psw(class="form-control form-control-sm") }}
                            </div>
                            <div class="col-12 d-flex justify-content-between align-items-center pt-3">
                                <div class="w-100 d-flex justify-content-between align-items-center">
                                    {{ form.submit(class="btn btn-primary btn-sm") }}
                                    <div>
                                    {{ form.rememberMe.label(class="mb-0") }}
                                    {{ form.rememberMe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="small d-md-none d-flex justify-content-end my-2">
                <small><a href="{{ url_for('auth.send_resetRequest') }}">I forgot my password</a></small>
            </div>
            <div class="pl-1 d-flex justify-content-between">
                <small>Don't you have an account yet? <a href="{{ url_for('auth.registration', userType='user', accType='free' ) }}">Create it here!</a></small>
                <small class="d-none d-md-block"><a href="{{ url_for('auth.send_resetRequest') }}">I forgot my password</a></small>
            </div>
            <div class="pl-1">
                <small>Do you own a local activity or pub? <a href="{{ url_for('main.show_pricing') }}">Register it here!</a></small>
            </div>
        </div>
    </div>

{%  endblock pagecontent %}