{% extends 'base_template.html' %}

{% block pagecontent %}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <div class="row align-items-top py-3">
                    <div class="col-12 col-md-5">
                        <div class="media d-flex align-content-between">
                            <div class="col-5 pl-0">
                                <div class="img-profile shadow-lg mr-0" style="background-image: url('{{ imgFile }}')"></div>
                                {% if not is_viewer %}
                                    <form method="POST" action="#" enctype="multipart/form-data">
                                     {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                        <div data-toggle="tooltip" data-placement="top" title="update your profile image">
                                            <i class="fas fa-camera"></i>
                                        </div>{{ form_img.img }}
                                        {% if form_img.img.errors %}
                                            {% for e in form_img.img.errors %}
                                                <div>
                                                    <span style="color: red"><small>{{ e }}</small></span>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form_img.upload_img }}
                                    </form>
                                {% endif %}
                            </div>
                            <div class="col-7 px-0">
                                <div class="text-truncate font-weight-bold">
                                    <span class="mr-2">{{ user.username }}'s Profile</span>
                                    {% if user.confirmed %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="verified user !">
                                            <i class="far fa-check-circle" data-fa-transform="right-2" style="color: lightseagreen"></i>
                                        </span>
                                    {% elif not is_viewer %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="email confirmation required!">
                                            <i class="fas fa-exclamation-circle" data-fa-transform="up-2 right-4" style="color: darkorange; width: 16px;height: 16px"></i>
                                        </span>
                                    {% else %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="unconfirmed user : let's hope is human !">
                                            <i class="fas fa-ghost" style="color: lightslategrey"></i>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="text-truncate text-muted">{{ user.email }}</div>
                                {% if not is_viewer %}
                                    {% if not current_user.confirmed %}
                                        <div class="mt-2">
                                            <div>
                                                <a href="{{ url_for('main.send_email_confirmation') }}">
                                                    <i class="far fa-envelope" data-fa-transform="down-2" style="color: cornflowerblue;height: 20px; width: 20px"></i>
                                                    <small>send me a new confirmation email</small>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {%  endif %}
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <span class="font-weight-bold">followers </span> <span class="text-monospace">{{ current_user.followers.count() }}</span>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <span class="font-weight-bold">following </span> <span class="text-monospace">{{ current_user.followed.count() }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span>currently member of </span> {{ user.groups.count() }} <span> groups</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-3 mt-3">
                            {% if not is_viewer %}
                                <form method="POST" class='mt-2' action="#" enctype="multipart/form-data">
                                    {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                    <div>
                                        <div class="font-weight-bold">
                                            {{ form_img.about_me.label }}
                                        </div>
                                        <div>
                                            {{ form_img.about_me._value() }}
                                        </div>
                                        <div>
                                            {{ form_img.modify_about_me }}
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <form method="GET" class='mt-2' action="#" enctype="multipart/form-data">
                                    {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                    <div class="">
                                        <div>
                                            {{ form_img.about_me.label }}
                                        </div>
                                        <div class='text-muted text-monospace text-justify'>
                                            {{ form_img.about_me._value() }}
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        {% if not is_viewer %}
                            <form method="POST" action="#" enctype="multipart/form-data">
                                {{ form_info.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-left">
                                        <span data-toggle="tooltip" data-placement="top" title="change your info here">
                                            <div class="text-center h3 text-monospace" style="letter-spacing: 6px">DASHBOARD</div>
                                        </span>
                                    </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                {{ form_info.firstName.label }}
                                                {{ form_info.firstName }}
                                            </div>
                                        </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            {{ form_info.lastName.label }}
                                            {{ form_info.lastName }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            {{ form_info.username.label }}
                                            {{ form_info.username }}
                                            {% if form_info.username.errors %}
                                                {% for e in form_info.username.errors %}
                                                    <div>
                                                        <span style="color: red"><small>{{ e }}</small></span>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group overflow-hidden">
                                            {{ form_info.email.label }}
                                            {{ form_info.email }}
                                            {% if form_info.email.errors %}
                                                {% for e in form_info.email.errors %}
                                                    <div>
                                                        <span style="color: red"><small>{{ e }}</small></span>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-between">
                                        {{ form_info.submit }}
                                        {{ form_info.delete }}
                                    </div>
                                </div>
                            </form>
                        {% else %}
{#                            <div class="row">#}
{#                                <div class="col-3">#}
{#                                    <span class="font-weight-bold">followers </span> <span class="text-monospace">{{ current_user.followers.count() }}</span>#}
{#                                </div>#}
{#                                <div class="col-3">#}
{#                                    <span class="font-weight-bold">following </span> <span class="text-monospace">{{ current_user.followed.count() }}</span>#}
{#                                </div>#}
{#                                <div class="col-6">#}
{#                                    <span>currently member of </span> {{ user.groups.count() }} <span> groups</span>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row">
                                <span class="font-weight-bold mr-2">Last time active </span> {{ moment(user.get_last_active()).fromNow(refresh=True) }}
                            </div>
                                {% for r in range(0,2) %}
                                    <div class="row border shadow mt-2 d-flex justify-content-between">
                                        {% for i in range(0,4) %}
                                            <div class="img-profile-upload shadow-lg mr-0" style="background-image: url('{{ imgFile }}')"></div>
                                        {% endfor %}
                                    </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">

        </div>

        <!-- Remove account modal -->

        <div class="modal fade" id="delete-account-backdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>
                      Are you sure you want to continue with this action?<br>This action cannot be redeemed.
                  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                  <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('users.delete_account', u_id=current_user.id) }}'">
                      Confirm account deletion
                  </button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock pagecontent %}