{% extends 'base_template.html' %}

{% block navbar %}
    {% if pull_from == 'user' %}
        {% include 'user_nav.html' %}
    {% else %}
        {% include 'owner_nav.html' %}
    {% endif %}
{% endblock navbar %}

{% block pagecontent %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row align-items-top py-3">
                    <div class="col-12 col-md-5">
                        <div class="media d-flex align-content-between">
                            <div class="col-5 pl-0">
                                <div class="img-profile-user shadow-lg mr-0" style="background-image: url('{{ imgFile }}')"></div>
                                {% if not is_viewer %}
                                    <form method="POST" action="#" enctype="multipart/form-data">
                                        {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                        <i class="fas fa-camera"></i>
                                        <div data-toggle="tooltip" data-placement="right" title="change your profile image here">
                                            {{ form_img.img }}
                                        </div>
                                        {% if form_img.img.errors %}
                                            {% for e in form_img.img.errors %}
                                                <div>
                                                    <span style="color: red"><small>{{ e }}</small></span>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="text-monospace">{{ form_img.upload_img }}</div>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="col-7 px-0 pt-2">
                                <div class="text-truncate font-weight-bold">
                                    <span class="mr-2">{{ user.username }}'s Profile</span>
                                    {% if user.confirmed %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="verified user !">
                                            <i class="far fa-check-circle" data-fa-transform="right-2" style="color: lightseagreen"></i>
                                        </span>
                                    {% elif not is_viewer %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="email confirmation required!">
                                            <i class="fas fa-exclamation-circle" data-fa-transform="up-2 right-4" style="color: darkorange; width: 16px;height: 16px"></i>
                                        </span>
                                    {% else %}
                                        <span class='fa-lg' data-toggle="tooltip" data-placement="top" title="unconfirmed user : let's hope is human !">
                                            <i class="fas fa-ghost" style="color: lightslategrey"></i>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="text-truncate text-muted">{{ user.email }}</div>
                                {% if not is_viewer %}
                                    {% if not current_user.confirmed %}
                                        <div class="mt-2">
                                            <div>
                                                <a href="{{ url_for('main.send_email_confirmation') }}">
                                                    <i class="far fa-envelope" data-fa-transform="down-2" style="color: cornflowerblue;height: 20px; width: 20px"></i>
                                                    <small>send me a new confirmation email</small>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if pull_from == 'user' %}
                                    <div class="row">
                                        <div class="col-12">
                                            <span>currently member of </span> {{ groups }}
                                            {% if groups == 1 %}
                                                <span> group</span>
                                            {% else %}
                                                <span> groups</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if pull_from == 'user' %}
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-between align-items-center">
                                            <div>
                                                <a class="disabled font-weight-bold" href="{{ url_for('users.show_followers', username=user.username) }}">followers </a> <span class="text-monospace">{{ user.followers.count() }}</span>
                                            </div>
                                            <div>
                                                <a class="disabled font-weight-bold" href="{{ url_for('users.show_following', username=user.username) }}">following </a> <span class="text-monospace">{{ user.followed.count() }}</span>
                                            </div>
                                            {% if is_viewer %}
                                                {% if not current_user.is_following(user) %}
                                                    <div style="margin-right: 15px">
                                                        <div data-toggle="tooltip" data-placement="top" title="follow {{ user.username }}">
                                                            <a href="{{ url_for('users.follow', u_id=user.id) }}">
                                                                <i class="fas fa-user-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div style="margin-right: 15px">
                                                        <div data-toggle="tooltip" data-placement="top" title="unfollow {{ user.username }}">
                                                            <a href="{{ url_for('users.unfollow', u_id=user.id) }}">
                                                                <i class="fas fa-user-minus" style="color: red"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% if is_viewer and current_user.is_followed_by(user) %}
                                            <div class="col-12 col-lg-6">
                                                <div>
                                                    <span class="badge badge-secondary">Following you</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if not is_viewer %}
                                    {% if pull_from == 'user' %}
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="font-weight-bold">{{ reservations }} </span><span>pending</span>
                                                {% if reservations == 1 %}
                                                    <span>reservation</span>
                                                {% else %}
                                                    <span>reservations</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% elif user.pub != None %}
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="font-weight-bold">{{ reservations }} </span>
                                                {% if reservations == 1 %}
                                                    <span>reservation</span>
                                                {% else %}
                                                    <span>reservations</span>
                                                {% endif %}
                                                <span>waiting confirmation</span>
                                                {% if reservations > 0 %}
                                                    <i class="fas fa-exclamation-circle" data-fa-transform="up-2 right-4" style="color: darkorange; width: 16px;height: 16px"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mt-2">Pub: {{ user.pub.name }}</div>
                                        <div>
                                            <span>rating :</span>
                                            <span>
                                                {% for s in range(0, user.pub.rating ) %}
                                                    <i class="fas fa-star fa-sm" style="color: goldenrod"></i>
                                                {% endfor %}
                                                {% for s in range(0, 5 - user.pub.rating ) %}
                                                    <i class="far fa-star fa-xs" style="color: lightslategrey"></i>
                                                {% endfor %}
                                            </span>
                                            <span class="text-monospace text-muted">{{ user.pub.rating }}</span>
                                        </div>
                                        <div>Still <span class="font-weight-bold">{{ user.pub.get_availability() }}</span> free tables</div>
                                    {% else %}
                                        <div class="font-weight-bold">no pub registred yet!</div>
                                        <a class='text-monospace' href="{{ url_for('users.create_pub', username=user.username) }}">register it here!</a>
                                    {% endif %}
                                {% elif pull_from != 'user' %}
                                    {% if user.pub != None %}
                                        <div class="mt-2">Pub: {{ user.pub.name }}</div>
                                            <div>
                                                <span>rating :</span>
                                                <span>
                                                    {% for s in range(0, user.pub.rating ) %}
                                                        <i class="fas fa-star fa-sm" style="color: goldenrod"></i>
                                                    {% endfor %}
                                                    {% for s in range(0, 5 - user.pub.rating ) %}
                                                        <i class="far fa-star fa-xs" style="color: lightslategrey"></i>
                                                    {% endfor %}
                                                </span>
                                                <span class="text-monospace text-muted">{{ user.pub.rating }}</span>
                                            </div>
                                    {% else %}
                                        <div class="font-weight-bold">no pub registred yet!</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mr-3 mt-3">
                            {% if not is_viewer %}
                                <form method="POST" class='mt-2' action="#" enctype="multipart/form-data">
                                    {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                    <div>
                                        {% if pull_from == 'user' %}
                                            <span class="font-weight-bold">{{ form_img.about_me.label }}</span>
                                        {% else %}
                                            <span class="font-weight-bold">Description of your pub</span>
                                        {% endif %}
                                        <div class='text-muted text-monospace text-justify py-2 mb-2'>
                                            {{ form_img.about_me }}
                                        </div>
                                        <div class='text-monospace'>
                                            {{ form_img.modify_about_me }}
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <form method="GET" class='mt-2' action="#" enctype="multipart/form-data">
                                    {{ form_img.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                    <div>
                                        <span class='font-weight-bold'>{{ form_img.about_me.label }}</span>
                                        <div class='text-muted text-monospace text-justify'>
                                            {{ form_img.about_me._value() }}
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        {% if not is_viewer %}
                            <div class="row mb-3 pl-2">
                                <form method="POST" action="#" enctype="multipart/form-data">
                                    {{ form_info.hidden_tag() }} <!--This adds CSRF (Cross-Site Injection attacks) token || it protects the app-->
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-between">
                                            <span data-toggle="tooltip" data-placement="top" title="change your info here">
                                                <div class="text-center h3 text-monospace" style="letter-spacing: 6px">DASHBOARD</div>
                                            </span>
                                            <div class="text-monospace">
                                                {{ form_info.submit }}
                                                {{ form_info.delete }}
                                            </div>
                                        </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    {{ form_info.firstName.label }}
                                                    {{ form_info.firstName }}
                                                </div>
                                            </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                {{ form_info.lastName.label }}
                                                {{ form_info.lastName }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                {{ form_info.username.label }}
                                                {{ form_info.username }}
                                                {% if form_info.username.errors %}
                                                    {% for e in form_info.username.errors %}
                                                        <div>
                                                            <span style="color: red"><small>{{ e }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group overflow-hidden">
                                                {{ form_info.email.label }}
                                                {{ form_info.email }}
                                                {% if form_info.email.errors %}
                                                    {% for e in form_info.email.errors %}
                                                        <div>
                                                            <span style="color: red"><small>{{ e }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <form class='row pl-2' method="POST" action="#" enctype="multipart/form-data">
                                {{ form_carousel.hidden_tag() }}
                                <div class="col-3 pl-0">
                                    {% if pul_from == 'user' %}
                                        <span class="font-weight-bold">Your best moments</span>
                                    {% else %}
                                        <span class="font-weight-bold">Your pub images</span>
                                    {% endif %}
                                </div>
                                <div class="col-6 pl-2">
                                    {{ form_carousel.images }}
                                </div>
                                <div class="col-3 d-flex justify-content-end px-0 text-monospace">
                                    {{ form_carousel.upload_carousel }}
                                </div>
                            </form>
                        {% else %}
                            <div class="row">
                                <span class="font-weight-bold mr-2">Last time active </span> {{ moment(user.get_last_active()).fromNow(refresh=True) }}
                            </div>
                        {% endif %}
                        <div class="row border border-light shadow my-2 px-2 py-2 justify-content-between">
                            {% for i in range(0,8) %}
                                <div class="col-3 px-0 d-flex justify-content-center align-items-center">
                                    <div class="img-profile-dash border shadow-sm mx-1 my-1" style="background-image: url('{{ carousel[i] }}')"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not is_viewer %}
            <!-- Remove account modal -->
            <div class="modal fade" id="delete-account-backdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" style="width: 25%">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="col-12 d-flex align-item-center pl-0">
                          <div class="h4 mb-0">Delete your account</div>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  </div>
                  <div class="modal-body pb-1">
                    <div class="text-monospace">
                        <div>Are you sure you want to continue ?</div>
                    </div>
                    <div>
                      <div class="my-2 d-flex justify-content-start">
                          <button type="button" class="btn btn-sm btn-outline-danger mr-2" onclick="window.location.href='{{ url_for('users.delete_account', u_id=current_user.id) }}'">
                              Go ahead
                          </button>
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}

    </div>
{% endblock pagecontent %}