{% extends 'base_template.html' %}

{% block pagecontent %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="shadow p-3 mb-3 mt-3 bg-white rounded" style="width: 555px">
            <!-- POST method even if exposes user data into POST request url, is safe because we implemented CSRF token -->
                <form method="POST" action="#">
                    {{ form.hidden_tag() }} <!--This adds CSRF (Cross-Site Something) token || it protects the app-->
                    <fieldset>
                        <legend>Reset password</legend>
                        <div class="row">
                            <div class="col-9 pr-1">
                                {% if form.emailAddr.errors %}
                                    {{ form.emailAddr(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.emailAddr.errors %}
                                            <small><span style="color: red">{{ error }}</span></small>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.emailAddr(class="form-control") }}
                                {%  endif %}
                            </div>
                            <div class="col-3 pl-1">
                                {{ form.submit(class="btn btn-outline-danger") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{%  endblock pagecontent %}